# PostgreSQL数据库配置
spring:
  datasource:
    dynamic:
      # HikariCP 连接池配置
      hikari:
        maximum-pool-size: 20
        minimum-idle: 5
        connection-timeout: 30000
        idle-timeout: 600000
        max-lifetime: 1800000
        connection-test-query: SELECT 1
      datasource:
          # 主库数据源
          master:
            driver-class-name: org.postgresql.Driver
            url: jdbc:postgresql://49.233.100.141:25432/ry?currentSchema=public
            username: postgres
            password: Sxct@wLDs1710
          # 测试数据源
#          test:
#            driver-class-name: org.postgresql.Driver
#            url: jdbc:postgresql://49.233.100.141:25432/ry_test?currentSchema=public
#            username: postgres
#            password: Sxct@wLDs1710


